<!--
  List for tracks within one track group
  This DOM element must be placed in a flex container,
  otherwise the iron-list will not work
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../track-control/track-mini-control.html">
<link rel="import" href="../give-styles.html">
<link rel="import" href="../../bower_components/shadycss/apply-shim.html">
<link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="chart-track-list">
  <template>
    <style include="give-shared-styles iron-flex">
      :host {
        padding: 0;
        @apply --layout-flex;
        @apply --layout-vertical;
        position: relative;
      }
      paper-material {
        @apply --layout-fit;
        @apply --layout-vertical;
        padding: 1em;
      }
      paper-material > div.header {
        color: var(--default-primary-color);
        margin-bottom: 0.5em;
      }
      iron-list {
        @apply --layout-flex;
        --iron-list-items-container: {
           @apply --chart-track-list-items-mixin;
        };
      }
    </style>
    <paper-material elevation="1">
      <div class="header">[[group.label]]</div>
      <iron-list id="groupList" items="[[group.array]]" as="track"
        selection-enabled multi-selection$="[[!group.singleChoice]]"
        on-selected-items-changed="_selectedItemsChangedHandler">
        <template>
          <track-mini-control track="[[track]]" group="[[group]]"
            selected="[[selected]]">
          </track-mini-control>
        </template>
      </iron-list>
    </paper-material>
  </template>
  <script>
var GIVe = (function (give) {
  'use strict'

  class ChartTrackList extends Polymer.Element {
    static get is () {
      return 'chart-track-list'
    }

    static get properties () {
      return {
        textSize: {
          type: Number,
          value: 12 // unit is px
        },

        settingKey: {
          type: String,
          value: give.GENEMO_SELECTED_KEY
        },

        group: {
          type: Object
        },

        instantChange: {
          type: Boolean,
          value: false
        }
      }
    }

    syncTrackToDom (scrollToSelected) {
      // this is used when resetting selection
      // DOM means this.$.groupList.selectedItems
      if (this.group && this.group.every) {
        this.$.groupList.clearSelection()
        let firstSelected = null
        this.group.every((track, index) => {
          if (track.getSetting(this.settingKey)) {
            if (firstSelected === null) {
              firstSelected = index
            }
            this.$.groupList.selectIndex(index)
            return this.$.groupList.multiSelection
          }
          return true
        })
        if (scrollToSelected && firstSelected !== null) {
          // scroll to first selected item
          this.$.groupList.scrollToIndex(firstSelected)
        }
      }
    }

    syncDomToTrack () {
      // this is used when submitting the results
      if (this.group && this.group.forEach) {
        this.group.forEach((track, index) =>
          track.setSetting(this.settingKey, false)
        )
        if (this.$.groupList.selectedItems) {
          if (Array.isArray(this.$.groupList.selectedItems)) {
            this.$.groupList.selectedItems.forEach(function (track) {
              track.setSetting(this.settingKey, true)
            }, this)
          } else {
            this.$.groupList.selectedItems.setSetting(this.settingKey, true)
          }
        }
      }
    }

    resetAllTracks () {
      if (this.group && this.group.every) {
        this.group.forEach(track => track.resetSetting(this.settingKey))
        this.syncTrackToDom()
      }
    }

    applyFilter (map, flags) {
      this.group.forEach((track, index) => {
        if (flags.hasOwnProperty('matched') && map.hasOwnProperty(track.id)) {
          if (flags.matched) {
            this.$.groupList.selectIndex(index)
          } else {
            this.$.groupList.deselectIndex(index)
          }
        } else if (
          flags.hasOwnProperty('unmatched') && !map.hasOwnProperty(track.id)
        ) {
          if (flags.unmatched) {
            this.$.groupList.selectIndex(index)
          } else {
            this.$.groupList.deselectIndex(index)
          }
        }
      })
    }

    _selectedItemsChangedHandler (e) {
      if (this.instantChange) {
        this.syncDomToTrack()
      }
    }
  }

  give.ChartTrackList = ChartTrackList
  window.customElements.define('chart-track-list', give.ChartTrackList)

  return give
})(GIVe || {})
  </script>
</dom-module>
