<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/render-status.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../give-card/give-card.html">
<link rel="import" href="chart-track-list.html">
<link rel="import" href="../ref-object/ref-object.html">
<link rel="import" href="../give-styles.html">
<!-- <link rel="import" href="../meta-track-filter/meta-track-filter.html"> -->
<link rel="import" href="../../bower_components/shadycss/apply-shim.html">
<link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="chart-track-ref-list">
  <template>
    <style include="give-shared-styles iron-flex">
    :host {
      padding: 0.5em;
      display: block;
      @apply --layout-fit;
      @apply --layout-vertical;
    }
    chart-track-list {
      @apply --chart-track-list-items-mixin;
    }
    chart-track-list.selectedTracks {
      max-height: 30%;
    }
    </style>
    <template is="dom-if" if="[[showSelectedTracks]]" restamp="true">
      <give-card disable-folding>
        <chart-track-list group="[[selectedTracks]]" class="selectedTracks"
          group-icon="av:playlist-add-check"
          label="Selected tracks"
          setting-key="[[settingKey]]" is-selected
          allow-track-reordering="[[allowTrackReordering]]"
          priority-manager="[[priorityManager]]"
          on-selection-change="[[_selectionChangedInSelectedTracks]]">
        </chart-track-list>
      </give-card>
    </template>
    <template is="dom-repeat" id="groupBlock"
      items="[[groupArray]]" as="group">
      <!-- this is the track group DOM -->
      <give-card class="flex">
        <chart-track-list group="[[group.array]]"
          group-icon="[[group.icon]]"
          label="[[group.label]]" single-choice="[[group.singleChoice]]"
          setting-key="[[settingKey]]" class="flex"
          instant-change="[[instantChange]]"
          priority-manager="[[priorityManager]]"
          on-selection-change="[[_updateSelectedTracks]]">
        </chart-track-list>
      </give-card>
    </template>
    <template is="dom-if" if="[[standAlone]]" restamp="true">
      <div class="cardActions">
        <template is="dom-if" if="[[withFilter]]" restamp="true">
          <paper-button on-tap="launchFilter">
            <iron-icon icon="filter-list"></iron-icon>
            Filter
          </paper-button>
          <paper-button on-tap="resetAllTracks">
            <iron-icon icon="refresh"></iron-icon>
            Reset to default
          </paper-button>
          <!-- <meta-track-filter id="trackFilter" ref='[[ref]]'
                on-filter-tracks="_filterTracksHandler"></meta-track-filter> -->
        </template>
        <template is="dom-if" if="[[hasControls]]" restamp="true">
          <paper-button on-tap="cancelChanges">
            <iron-icon icon="close"></iron-icon>
            Cancel
          </paper-button>
          <paper-button on-tap="submitChanges">
            <iron-icon icon="check"></iron-icon>
            OK
          </paper-button>
        </template>
      </div>
    </template>
  </template>
  <script>
var GIVe = (function (give) {
  'use strict'

  class ChartTrackRefList extends give.GiveCardContentMixin(
    give.RefEmbedMixin(give.EmbedPolymer.Element)) {
    constructor () {
      super(...arguments)
      this.domReadyPromise = null
    }
    static get is () {
      return 'chart-track-ref-list'
    }

    static get properties () {
      return {
        settingKey: {
          type: String,
          value: give.GENEMO_SELECTED_KEY
        },

        groupIcon: {
          type: String
        },

        groupArray: {
          type: Array,
          value: function () {
            return []
          }
        },

        groupIdList: {
          // this is the array of allowed group IDs in the list
          type: Array
        },

        showSelectedTracks: {
          type: Boolean,
          value: false
        },

        allowTrackReordering: {
          type: Boolean,
          value: false
        },

        /**
         * Whether the track controller will support filter function
         * @type {boolean}
         */
        withFilter: {
          type: Boolean,
          value: false
        },

        /**
         * Whether the track controller will reflect change immediately
         * without calling this.syncDomToTrack().
         * This is always false if hasControls === true
         * @type {boolean}
         */
        instantChange: {
          type: Boolean,
          value: false
        },

        /**
         * Whether the track controller will show OK/Cancel controls
         * @type {boolean}
         */
        hasControls: {
          type: Boolean,
          value: false
        },

        selectedTracks: {
          type: Array,
          value: function () {
            return []
          },
          notify: true
        },

        priorityManager: {
          type: Object
        },

        /**
         * Whether this component is used __as a stand-alone element__
         *  (no controlling parent), if this is set as `true`, it will attempt
         *  to handle data synchronization between the backend and the frontend
         *  automatically.
         *
         * If there is a parent responsible for synchronization (typically
         *  a `<chart-track-list>` element), setting this to `true` may incur
         *  unnecessary computational cost.
         * @type  {boolean}
         */
        standAlone: {
          type: Boolean,
          value: false
        }
      }
    }

    /**
     * Use for one-time configuration of your component after local DOM is
     * initialized.
     */
    ready () {
      super.ready()
      this._setIcon(this.groupIcon || null)
      this._setIconAlt(this.label || 'Tracks')
      this._setHeaderText(this.label || 'Tracks')
    }

    /**
      * Called every time the element is inserted into the DOM. Useful for
      * running setup code, such as fetching resources or rendering.
      * Generally, you should try to delay work until this time.
      */
    connectedCallback () {
      super.connectedCallback()
      this._refChanged(this.ref)
    }

    _refreshRefTracks () {
      this.splice('groupArray', 0)
      if (this.groupIdList && this.groupIdList.length > 0) {
        this.groupIdList.forEach(groupID => {
          if (this.refObj.groups.hasOwnProperty(groupID)) {
            this.push('groupArray', this.refObj.groups[groupID])
          }
        })
      } else {
        for (let key in this.refObj.groups) {
          if (this.refObj.groups.hasOwnProperty(key)) {
            this.push('groupArray', this.refObj.groups[key])
          }
        }
      }
      // If this component is a stand-alone element, call
      //  `this.syncTrackToDom()`. Otherwise `this.syncTrackToDom()` should be
      //  called explicitly in the parent to synchronize Dom and data model.
      return new Promise((resolve, reject) => {
        Polymer.RenderStatus.beforeNextRender(this, () => {
          this._trackGroupElems =
            [...this.$.groupBlock.querySelectorAll('chart-track-group-list')]
          if (this.standAlone) {
            this.syncTrackToDom()
          }
          this._readiness = true
          resolve(Promise.all(this._trackGroupElems.map(
            elem => elem.domReadyPromise
          )).then(() => {
            this._readiness = true
            return this
          }))
        })
      })
    }

    updateAllGroupDOM () {
      this._readiness = false
      this.domReadyPromise = this.refObj.initTracks()
        .then(() => this._refreshRefTracks())
      return this.domReadyPromise
    }

    static _prioritySort (itemA, itemB) {
      return itemA.priority < itemB.priority
        ? -1 : (itemA.priority > itemB.priority ? 1 : 0)
    }

    /**
     * Set the reference to new reference
     *
     * this will reset all tracks and redo the ref
     * note that the tracks should already be initialized before switching here
     *
     * @param  {string|GIVe.RefObject} newRef - New Reference, either name or GIVe.RefObject
     */
    _setRefObj (refObj) {
      // TODO: may need to add something to remove the override array
      if (super._setRefObj(refObj)) {
        return this.updateAllGroupDOM()
      }
    }

    syncTrackToDom (scrollToSelected) {
      // this is used when resetting selection or to initialize DOMs
      if (!this._readiness) {
        throw new give.GiveError('Ref list not initialized!')
      }
      this._trackGroupElems.forEach(
        elem => elem.syncTrackToDom(scrollToSelected))
      this._updateSelectedTracks()
    }

    syncDomToTrack () {
      // this is used when submitting the results
      if (!this._readiness) {
        throw new give.GiveError('Ref list not initialized!')
      }
      this._trackGroupElems.forEach(elem => elem.syncDomToTrack())
    }

    resetAllTracks () {
      if (!this._readiness) {
        throw new give.GiveError('Ref list not initialized!')
      }
      this._trackGroupElems.forEach(elem => elem.resetAllTracks())
    }

    _signalClose () {
      give.fireSignal('list-close', null, null, this)
    }

    /**
     * launchFilter - Show track filter element
     */
    launchFilter () {
      if (this.shadowRoot.querySelector('#trackFilter')) {
        this.shadowRoot.querySelector('#trackFilter').show()
      }
    }

    /**
     * _filterTracksHandler - Event handler to filter the track
     *
     * @param  {Object} e - event from the track filter element
     */
    _filterTracksHandler (e) {
      if (!e.detail.targetId || e.detail.targetId === this.id) {
        e.stopPropagation()
        this.applyFilter(e.detail.map, e.detail.flags)
      }
      // Otherwise the filter wants to change some other list (extremely rare),
      // when whoever listens to filter-tracks event will handle.
    }

    submitChanges () {
      return this.syncDomToTrack().then(() => this._signalClose())
    }

    cancelChanges () {
      return this.syncTrackToDom().then(() => this._signalClose())
    }

    applyFilter (map, flags) {
      if (!this._readiness) {
        throw new give.GiveError('Ref list not initialized!')
      }
      this._trackGroupElems.forEach(elem => elem.applyFilter(map, flags))
      this._updateSelectedTracks()
    }

    _updateSelectedTracks () {
      this.selectedTracks = this._trackGroupElems.reduce(
        (trackArray, elem) => trackArray.concat(elem.selectedTracks),
        [])
    }

    _selectionChangedInSelectedTracks (e) {
      this._trackGroupElems.forEach(elem => elem.syncTrackToDom())
    }
  }

  give.ChartTrackRefList = ChartTrackRefList
  window.customElements.define(
    'chart-track-ref-list', give.ChartTrackRefList)

  return give
})(GIVe || {})
  </script>
</dom-module>
