<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="chart-track-list.html">
<link rel="import" href="../ref-object/ref-object.html">
<link rel="import" href="../ref-embedded-behavior/ref-embedded-behavior.html">
<link rel="import" href="../genemo-styles.html">
<link rel="import" href="../genemo-tab-card-content-behavior/genemo-tab-card-content-behavior.html">
<link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="chart-track-group-list">
  <template>
    <style include="genemo-shared-styles iron-flex" is="custom-style">
    :host {
      padding: 0.5em;
      display: block;
      @apply(--layout-fit);
      @apply(--layout-vertical);
    }
    chart-track-list {
      @apply(--chart-track-list-items-mixin);
    }
    .cardActions {
      padding: 0;
      margin-bottom: -0.5em;
    }
    </style>
    <template is="dom-repeat" id="trackGroupBlock"
      items="[[groupArray]]" as="group">
      <!-- this is the track group DOM -->
      <chart-track-list text-size="[[textSize]]" group="[[group]]"
        setting-key="[[settingKey]]" class="flex">
      </chart-track-list>
    </template>
    <template is="dom-if" if="[[!noControls]]" restamp="true">
      <div class="cardActions">
        <paper-button on-tap="launchFilter">
          <iron-icon icon="filter-list"></iron-icon>
          Filter
        </paper-button>
        <paper-button on-tap="resetAllTracks">
          <iron-icon icon="refresh"></iron-icon>
          Reset to default
        </paper-button>
        <paper-button on-tap="cancelChanges">
          <iron-icon icon="close"></iron-icon>
          Cancel
        </paper-button>
        <paper-button on-tap="submitChanges">
          <iron-icon icon="check"></iron-icon>
          OK
        </paper-button>
      </div>
    </template>
  </template>
  <script>
    var GIVe = (function (give) {
      'use strict'

      give.ChartTrackGroupList = Polymer({
        is: 'chart-track-group-list',

        behaviors: [
          give.GenemoTabCardContentBehavior,
          give.RefEmbeddedBehavior
        ],

        properties: {
          /**
           * The GIVe.RefObject for reference.
           * Contains chromosomal layout and track information.
           * @type {GIVe.RefObject}
           */
          _refObj: {
            type: Object
          },

          /**
           * The reference used in the embedded browser.
           * Reference names needs to be in UCSC format.
           * Please see [GIVe.RefObject](../ref-object/)
           * to see available references on GIVe server.
           */
          ref: {
            type: String,
            observer: '_refChanged'
          },

          textSize: {
            type: Number,
            value: 12    // unit is px
          },

          settingKey: {
            type: String,
            value: give.GENEMO_SELECTED_KEY
          },

          groupArray: {
            type: Array,
            value: function () {
              return []
            }
          },

          groupIdList: {
            // this is the array of allowed group IDs in the list
            type: Array
          },

          noControls: {
            type: Boolean,
            value: false
          }
        },

        ready: function () {
          this._setIcon('view-list')
          this._setIconAlt('Track list')
          this._setHeaderText('Track list')
          this._setTabText('Tracks')

          this.setDOMReady(true)
          this.setReady(false)

          this.completedRepeatDOMs = 0
        },

        _refreshRefTrackReady: function () {
          // this is called after track is ready for trackRef
          this.splice('groupArray', 0, this.groupArray.length)
          if (this.groupIdList && this.groupIdList.length > 0) {
            this.groupIdList.forEach(function (groupID) {
              if (this._refObj.getGroups().hasOwnProperty(groupID)) {
                this.push('groupArray', this._refObj.getGroups()[groupID])
              }
            }, this)
          } else {
            for (var key in this._refObj.getGroups()) {
              if (this._refObj.getGroups().hasOwnProperty(key)) {
                this.push('groupArray', this._refObj.getGroups()[key])
              }
            }
          }
          this.async(function () {
            this.trackToDOM()
            this.setReady(true)
          })
        },

        _refreshRef: function () {
          this._refObj.callOnTracksReady(this._refreshRefTrackReady.bind(this))
        },

        updateAllGroupDOM: function () {
          this.setReady(false)
          this._refreshRef()
        },

        _prioritySort: function (itemA, itemB) {
          return itemA.priority < itemB.priority
            ? -1 : (itemA.priority > itemB.priority ? 1 : 0)
        },

        /**
         * Set the reference to new reference
         *
         * this will reset all tracks and redo the ref
         * note that the tracks should already be initialized before switching here
         *
         * @param  {string|GIVe.RefObject} newRef - New Reference, either name or GIVe.RefObject
         */
        _setRefObj: function (refObj) {
          this._refObj = refObj
          this.setReady(false)
          if (this._refObj) {
            this._refreshRef()
          }
        },

        trackToDOM: function () {
          // this is used when resetting selection
          Polymer.dom(this.root).querySelectorAll('chart-track-list').forEach(function (elem) {
            elem.trackToDOM()
          }, this)
        },

        DOMToTrack: function () {
          // this is used when submitting the results
          Polymer.dom(this.root).querySelectorAll('chart-track-list').forEach(function (elem) {
            elem.DOMToTrack()
          }, this)
        },

        resetAllTracks: function () {
          Polymer.dom(this.root).querySelectorAll('chart-track-list').forEach(function (elem) {
            elem.resetAllTracks()
          }, this)
        },

        backToSearch: function () {
          this.fire('switch-page', {selectedPageID: give.SEARCH_PANEL_DOM_ID})
        },

        launchFilter: function () {
          this.fire('show-track-filter')
        },

        submitChanges: function () {
          this.DOMToTrack()
          this.backToSearch()
        },

        cancelChanges: function () {
          this.trackToDOM()
          this.backToSearch()
        },

        applyFilter: function (map, flags) {
          var domList = Polymer.dom(this.root).querySelectorAll('chart-track-list')
          give.forEach(domList, function (elem) {
            elem.applyFilter(map, flags)
          }, this)
        }
      })

      return give
    })(GIVe || {})
  </script>
</dom-module>
