<dom-module id="genemo-track-styles">
  <template>
    <style>
		:host {
			display: block;
		}
		
    	svg {
			width: 100%;
			min-width: 400px;
			min-height: 250px;
		}
		
		svg text {
			font-size: 12px;
			pointer-events: none;
			dominant-baseline: central;
		}
		
		svg text::selection {
			background: none;
		}

		svg polygon.linkedRegion {
			mix-blend-mode: multiply;
			stroke-opacity: 0;
		}
		
		svg polygon.linkedRegion:hover {
			stroke-opacity: 1;
			fill-opacity: 0.7;
		}
		
    	svg rect.pointerHandler {
			fill: none;
			pointer-events: fill;
		}
		
    	svg rect.pointerHandler.grab {
			cursor: grab;
			cursor: -webkit-grab;
		}
		
    	svg rect.pointerHandler.grabbing {
			cursor: grabbing;
			cursor: -webkit-grabbing;
		}
		
    </style>
  </template>
</dom-module>
