@charset "utf-8";
.commentformtext {
	font-family: auto;
	font-size: 17px;
	line-height: 21px;
	vertical-align: middle;
	padding: 10px;
	margin: 0px;
	background: #FFF;
	border: 1px solid #666;
	position: absolute;
	height: auto;
	top: 5px;
	left: 5px;
	right: 10px;
	bottom: 10px;
	box-shadow: 5px 5px 8px #666666;
	overflow: auto;
}
.commentformtext #comment {
	font-family: 'Roboto', Calibri, sans-serif;
	font-size: 17px;
	width: 99%;
	height: 200px;
	border: #999 1px solid;
	margin: 5px 0 5px 0;
}
.commentformtext #email {
	font-family: 'Roboto', Calibri, sans-serif;
	font-size: 17px;
	width: 99%;
	border: #999 1px solid;
	margin: 5px 0 5px 0;
}
.commentformtext #button {
	float: right;
	margin: 5px 0 5px 0;
	font-family: 'Roboto', Calibri, sans-serif;
	font-size: 17px;
}
.commentformtext div {
	margin: 6px 0;
}
.error {
	width: auto;
	background-color: #FCC;
	border: 1px solid #900;
	color: #900;
	display: none;
}
