:host {
	display: block;
}

#selectionHolder {
	position: relative;
	/*top: 100px;*/
	/*width: 260px;  since this element is floated, a width must be given */
	/*min-height: 120px;*/
	margin: 0px;
	padding: 5px;
	background: #EEEEEE;
}
#genelistHolder {
	position: relative;
	/*top: 380px;
	bottom: 0;*/
	/* width: 270px; since this element is floated, a width must be given */
	margin: 0px;
	background: #EEEEEE;
}
#genelistContentHolder {
	position: relative;
	/*top: 380px;
	bottom: 0;*/
	max-height: 270px;
	/* width: 270px; since this element is floated, a width must be given */
	margin: 0px;
	overflow: auto;
	background: #EEEEEE;
}
#navigationHolder {
	position: relative;
	max-height: 250px;
	margin: 0px;
	overflow: hidden;
	background: #EEEEEE;
}
#trackManipHolder {
	position: relative;
	margin: 0;
	background: #EEEEEE;
	padding: 0.5em;
}
#peakFileHolder {
	font-size: 11px;
	position: relative;
	margin: 0px;
	background: #EEEEEE;
	padding: 3px 5px 1px 5px;
	line-height: 15px;
}
#displayFileHolder {
	font-size: 11px;
	position: relative;
	margin: 0px;
	background: #EEEEEE;
	padding: 1px 5px 3px 5px;
	line-height: 15px;
}
#searchlist {
	position: absolute;
	width: 100%; /* since this element is floated, a width must be given */
	height: 100%;
	overflow: visible;
}
.tableHeader {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
	font-weight: 700;
}
.formstyle {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	vertical-align: middle;
}

.formstyle input[type="button"] {
	padding: 2px 7px 0 7px;
}

.formstyle input[type="checkbox"] {
	margin: 2px;
	vertical-align: middle;
}

.formstyle label {
	padding: 2px;
}

#searchform select {
	padding: 0;
	border: none;
	background: transparent;
	background-image: none;
	width: 130%;
	margin-top: 1px;
	font-size: 11px;
}

#searchform input[type="text"] {
	background: #FFFFFF;
	border: 1px solid #999;
	margin: 2px 1px;
	padding: 3px 2px 2px 2px;
	display: inline-block;
	width: 130px;
}

#searchform input[type="submit"] {
	display: block;
	float: right;
	margin: 1px 0 2px 1px;
	padding: 3px 5px 2px 5px;
	overflow: visible;
}

.combostyle {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	width: 90%;
}
.panel {
	font-weight: 700;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

.smallformstyle {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
}

.smallformstyle input[type="submit"] {
	padding: 0 5px;
}

.normaltext {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-left: 35px;
	margin-right: 15px;
}

.normaltext input[type="button"] {
	padding: 0 5px;
}

a:link {
	color: #0099FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
a:visited {
	color: #3333CC;
}

.rotatedCCW {
	position: absolute;
	left: 22px;
	margin-top: 5px;
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: bottom left;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: bottom left;
	-o-transform: rotate(-90deg);
	-o-transform-origin: bottom left;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.selectBox {
	overflow: hidden;
	background: #FFFFFF url(images/downarrow.png) no-repeat 98% 50%;
	/*background: #FFFFFF;*/
	border: 1px solid #999;
	padding: 0;
	margin: 2px 1px 2px 0;
	width: 75px !important;
	float: left;
}
#searchform input.searchFieldBusy {
	background: #FFFFFF url(images/loading1.gif) no-repeat 100% 50%;
}

.subHeaderNoHover {
	padding: 4px;
	/* [disabled]width: 332px;
*/
	background: #666666;
	color: #FFFFFF;
	font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: capitalize;
}

/************************** Polymer and Material Design components below *********************/

.fullWidth {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.vertMargined {
	margin: 0.2em 0;
}

.vertCenterContainer {
	display: table;
	width: 100%
}

.vertCenterElement {
	display: table-cell;
	vertical-align: middle;
}

.noTextTransformButton {
	text-transform: none;
}

.rightFloat {
	float: right;
}

.clearFloat {
	clear: both;
}

.clearFix:after {
    content: "";
    display: table;
    clear: both;
}

.lineContainer {
	display: table;
	border-collapse: collapse;
	width: 100%;
}

.lineContainer > * {
	display: table-cell;
}

.lineContainer > .right {
	width: 45px;
}

.autoText {
	max-height: 5em;
	min-height: 1em;
	top: 35px;
	min-width: 200px;
}

/************************** Polymer and Material Design color below *********************/

paper-button[raised].colored {
	background: #3f51B5;
	color: #FFF;
}

paper-button[disabled] {
	background: #eaeaea;
	color: #a8a8a8;
	cursor: auto;
	pointer-events: none;
}

/************************** Polymer and Material Design size and others below *********************/

core-icon.smallInline {
	width: 1.25em;
	height: 1.25em;
	margin: 0 0.25em 0.1em 0.25em;
}
core-icon.transparent {
	opacity: 0.54;
}
core-icon.transparent:hover {
	opacity: 0.87;
}
core-tooltip::shadow #tooltip {
	max-width: 350px;
	min-width: 250px;
	width: auto;
	margin-top: 1px;
	margin-bottom: 3px;
	white-space: normal;
	line-height: 20px;
}

core-animated-pages > .core-selected {		
/* this is to solve the "no height" bug for core-pages and core-animated-pages element */
    position: relative;
    display: block;
}

paper-tabs::shadow #selectionBar {
	background-color: #3F51B5;
}

paper-radio-group > * {
	padding: 1em 0.5em !important;
}

paper-radio-button::shadow #radioLabel {
	margin-left: 0.5em;
}

paper-radio-button[checked]::shadow #offRadio {
	border-color: #3f51B5;
}

paper-radio-button::shadow #onRadio {
	background-color: #3f51B5;
}

