<link rel="import" href="genemo-track-filter-pages.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animated-pages/neon-animated-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<dom-module id="genemo-track-filter">
  <template>
    <style include="genemo-shared-styles">
	</style>
  </template>
  <script>
    Polymer({
		
		is: "genemo-track-filter",
		
	});
  </script>
</dom-module>