<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../iron-icons/iron-icons.html">
<link rel="import" href="../../iron-signals/iron-signals.html">
<link rel="import" href="../../iron-collapse/iron-collapse.html">
<link rel="import" href="../../paper-material/paper-material.html">
<link rel="import" href="../../paper-spinner/paper-spinner.html">
<link rel="import" href="../../neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../genemo-styles.html">
<link href="//fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="genemo-card" attributes="isOpened collapseGroup">
  <template>
    <style include="genemo-shared-styles">
		:host {
			display: block;
			font-family: 'Roboto', Arial, Helvetica, sans-serif;
			background: var(--card-background-color);
			margin: 0.6em 0;
			z-index: 0;
		/*	border: #757575 solid 1px;
			border: rgba(0, 0, 0, .54) solid 1px;
		*/}
		
		/************************** Polymer and Material Design components below *********************/
		
		/************************** Polymer and Material Design size and others below *********************/
		#cardHeadHolder {
			display: none;
		}
		
		#loadingBlock.unReady {
			display: block;
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			z-index: 1;
			opacity: 0.8;
			background: var(--card-background-color);
		}
		
		#loadingBlock {
			display: none;
		}
		
		paper-spinner {
			position: absolute;
			top: 50%;
			margin-top: -12px;
			left: 50%;
			margin-left: -12px;
			height: 24px;
			width: 24px;
			opacity: 1;
		}
		
	</style>
    <iron-signals on-iron-signal-collapse="collapseSignal"></iron-signals>
    <paper-material elevation="1">
      <div id="loadingBlock" class="unReady">
        <paper-spinner id="loadingSpinner" alt="Loading card content" active></paper-spinner>
      </div>
      <div class="cardContent">
        <div id="cardHeader" class="clearFix genemoHeader vertCenterContainer unReady">
          <paper-icon-button icon="{{expandIcon}}" class="leftFloat" id="expandButton" on-click="toggleCollapse"></paper-icon-button>
          <div id="cardHeadContent" class="vertCenterElement"></div>
          <div id="cardHeadHolder">
            <content id="cardhead" select=".GenemoHead"></content>
          </div>
        </div>
        <iron-collapse id="mainCollapse" opened="{{isOpened}}" allowOverflow>
          <content id="cardbody" select=".GenemoBody"></content>
        </iron-collapse>
      </div>
    </paper-material>
  </template>
  <script>
    Polymer({
        
		is: "genemo-card",
		
		behaviors: [
			Polymer.NeonAnimatableBehavior
		],
		
		properties: {
			
			isOpened: {
				type: Boolean,
				value: true,
				reflectToAttribute: true,
				observer: 'isOpenedChanged'
			},
			
			collapseGroup: {
				type: String,
				value: ''
			},
			
			collapseHeaderEl: {
				type: Object,
				value: null
			},
			
			enableSignal: {
				type: Boolean,
				value: true
			},
			
			expandIcon: {
				type: String,
				value: 'expand-more'
			},
			
			domReady: {
				type: Boolean,
				value: false,
				readOnly: true,
			},
			
			ready: {
				type: Boolean,
				value: false,
				readOnly: true,
			},
			
		},
		
		listeners: {
			'content-dom-ready': 'contentDOMReady',
			'content-ready': 'contentReady',
		},
		
		toggleCollapseHeader: function(flag) {
			// the top node with GenemoBody should have a member function getCollapse()
			// then use the returned DOM to replace collapseHeaderEl
			// if nothing, then collapseHeaderEl is simply GenemoHead
			// flag is the target status
			
			if(flag && this.collapseHeaderEl) {
				// there is old collapseHeader, needs to be removed
				Polymer.dom(this.$.cardHeader).removeChild(this.collapseHeaderEl);
				this.$.cardHeadContent.classList.remove('hidden');
			} else if(!flag) {
				var contentNode = Polymer.dom(this.$.cardbody).getDistributedNodes();
				if(contentNode) {
					contentNode = contentNode[0];
					if(contentNode.getCollapse) {
						this.collapseHeaderEl = contentNode.getCollapse();
						if(this.collapseHeaderEl) {
							this.$.cardHeadContent.classList.add('hidden');
							Polymer.dom(this.$.cardHeader).appendChild(this.collapseHeaderEl);
						}
					}
				}
			}
		},
		
		isOpenedChanged: function(newValue, oldValue) {
			this.enableSignal = false;
			if(newValue) {
				// un-collapse, send signal for all collapse groups
				this.fire('iron-signal', {name: 'collapse', data: {flag: false, group: this.collapseGroup}});
			}
			this.expandIcon = newValue? 'expand-more': 'chevron-right';
			this.toggleCollapseHeader(newValue);
			this.enableSignal = true;
		},
		
		collapseSignal: function(e, detail) {
			if(this.enableSignal && this.collapseGroup == detail.group && this.isOpened != detail.flag) {
				this.isOpened = detail.flag;
			}
		},
		
		toggleCollapse: function() {
			// hide GenemoBody and convert GenemoHead to GenemoCollapse (if any)
			this.isOpened = !this.isOpened;
		},
		
		populateDOM: function() {
			// if the content has a .getExpandedHeader member, 
			//		it will be used to generate the node to replace the node
			//		given in .GenemoHead
			var contentNode = Polymer.dom(this.$.cardbody).getDistributedNodes();
			var oldHead = Polymer.dom(this.$.cardHeadContent);
			while(oldHead.firstChild) {
				oldHead.removeChild(oldHead.firstChild);
			}
			if(contentNode && contentNode[0] && contentNode[0].getExpandedHeader) {
				var newHead = contentNode[0].getExpandedHeader();
				newHead.classList.add('headerText');
				oldHead.appendChild(newHead);
			} else {
				// populate header with #cardhead
				var newHead = Polymer.dom(this.$.cardhead).getDistributedNodes();
				if(newHead) {
					for(var i = 0; i < newHead.length; i++) {
						oldHead.appendChild(newHead[i]);
					}
				}
			}
		},
		
		contentDOMReady: function(e) {
			if(this.domReady !== e.detail.flag) {
				if(e.detail.flag) {
					// this will only happen if this.domReady !== true
					var contentNode = Polymer.dom(this.$.cardbody).getDistributedNodes(), nodeArray = [];
					if(contentNode) {
						nodeArray = Array.prototype.slice.call(contentNode);
					}
					if(nodeArray.every(function(node, index) {
						if(node.isDOMReady) {
							return node.isDOMReady();
						}
						return true;
					}, this)) {
						this.populateDOM();
						this._setDomReady(true);
					} else {
						// stop event from bubbling if status not the same as the one in the event
						e.preventDefault();
					}
				} else {
					this._setDomReady(false);
				}
			}
			return this.domReady;
		},
		
		setCardReady: function(readiness) {
			if(readiness) {
				// if card is not ready, use paper-spinner and add "unReady" class to cardContent
				this.$.loadingSpinner.active = false;
				this.$.loadingBlock.classList.remove('unReady');
			} else {
				// otherwise, deactivate paper-spinner and remove "unReady" class
				this.$.loadingBlock.classList.add('unReady');
				this.$.loadingSpinner.active = true;
			}
			this._setReady(readiness);
		},
		
		contentReady: function(e) {
			if(this.ready !== e.detail.flag) {
				if(e.detail.flag) {
					// set Ready = true, this will only happen if this.domReady !== true
					var contentNode = Polymer.dom(this.$.cardbody).getDistributedNodes(), nodeArray = [];
					if(contentNode) {
						nodeArray = Array.prototype.slice.call(contentNode);
					}
					if(nodeArray.every(function(node, index) {
						if(node.isReady) {
							return node.isReady();
						}
						return true;
					}, this)) {
						this.setCardReady(true);
					} else if(e.preventDefault) {
						// stop event from bubbling if status not the same as the one in the event
						e.preventDefault();
					}
				} else {
					this.setCardReady(false);
				}
			}
			return this.ready;
		},
		
		setAllReadiness: function(readiness) {
			// set both DOM and content flags
			this.contentDOMReady({detail: {flag: readiness}});
			this.contentReady({detail: {flag: readiness}});
		},
		
		attached: function() {
			this.async(function() {
				this.contentDOMReady({detail: {flag: true}}) && this.contentReady({detail: {flag: true}});
			});
		},
		
    });
  </script>
</dom-module>
