<script type="module" src="../../../../@polymer/polymer/polymer-legacy.js"></script>
<script type="module" src="../basic-func/basic-func.js"></script>
<script type="module" src="../track-object/track-object.js"></script>
<script type="module" src="../ref-embed-mixin/ref-embed-mixin.js"></script>
<script type="module" src="../tutorial-highlight/tutorial-highlight.js"></script>
<script type="module" src="../../../../@polymer/paper-spinner/paper-spinner.js"></script>
<script type="module" src="../../../../@polymer/iron-flex-layout/iron-flex-layout.js"></script>
<script type="module" src="../give-styles.js"></script>
<link rel="import" href="give-track-styles.html">
<link rel="import" href="tracks-header.html">
