<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../genemo-styles.html">
<link rel="import" href="../genemo-tab-card-content-behavior/genemo-tab-card-content-behavior.html">
<link href="//fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="search-card-content">
  <template>
    <style include="genemo-shared-styles">
		:host {
			display: block;
			font-family: 'Roboto', Arial, Helvetica, sans-serif;
			font-size: 12px;
			line-height: 1.2em;
			vertical-align: middle;
			padding: 1em;
		}

		a:link {
			color: #FF9800;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		a:active {
			text-decoration: underline;
		}
		a:visited {
			color: #3F51B5;
		}
		
		/************************** Polymer and Material Design components below *********************/
		
		.vertCenterContainer > paper-dropdown-menu {
			padding-top: 0;
		}
		
		.vertMargined {
			margin: 0.2em 0;
		}
		
		.sampleButton {
			min-width: 7.5em;
		}
		
	</style>
    <iron-signals on-iron-signal-toggle="signalToggle" 
      on-iron-signal-disable="signalDisabled"
      on-iron-signal-encodecheck="signalEncodeCheck"
      on-iron-signal-updatecontent="signalUpdateContent"> </iron-signals>
    <div class="vertMargined">
      <div class="vertTextBottomContainer clearFix">
        <div><span id = "text4" class="translatetext">Reference: </span></div>
        <paper-dropdown-menu id="regionDropdown" label="Reference" class="vertMargined" no-label-float>
          <paper-menu class="dropdown-content" id="speciesToUpload" attr-for-selected="value" selected="{{currentRef}}">
            <template is="dom-repeat" items="[[species]]" filter="encodeFilter">
              <paper-item value="[[item.db]]"><span>[[item.db]]</span> (<span>[[item.commonName]]</span>)</paper-item>
            </template>
          </paper-menu>
        </paper-dropdown-menu>
        <paper-button id="fillSample" class="rightFloat vertMargined sampleButton" noink raised on-tap="fillSampleHandler">Use sample</paper-button>
      </div>
      <paper-input id="urlFileInput" class="fullWidth" label="URL for data file" floatingLabel="true" value="{{InputUrl}}"></paper-input>
      <paper-button class="fullWidth" raised noink id="fileSelectButton" on-tap="fileSelectionHandler">{{uploadButtonText}}</paper-button>
      <input style="display: none;" type="file" id="uploadFileInput" name="uploadFileInput" on-change="inputFileChangedFunc" />
      <paper-tooltip position="bottom" class="fullWidth" offset="-1">
        Please specify the reference genome you would like to search against, then upload your custom peak file below for analysis. Either put your file on a public server and provide the URL, or directly upload the file here. (<a href="/goldenPath/help/customTrack.html#BED" target="_blank">BED, peaks format</a> files are accepted either by uploading or providing URL, <a href="/goldenPath/help/bigWig.html" target="_blank">bigWig files</a> are accepted by URL only.)
      </paper-tooltip>
    </div>
    <div>
      <paper-input id="returnEmail" class="fullWidth" label="(Optional) Your email address" floatingLabel="true" value="{{UserEmail}}"></paper-input>
      <paper-tooltip class="fullWidth" position="top" offset="0">
        <span id = "text5" class="translatetext">Some results may take a while to compute. You may provide an email here to get notification once the analysis is completed.</span>
      </paper-tooltip>
    </div>
    <div>
      <paper-input id="urlFileToShow" class="fullWidth" label="(Optional) Display file URL" floatingLabel="true" value="{{DisplayUrl}}"></paper-input>
      <paper-tooltip class="fullWidth" position="top" offset="-1">
        <span id = "text6" class="translatetext">You may also provide a URL for a </span><a href="/goldenPath/help/wiggle.html">wig</a> / <a href="/goldenPath/help/bigWig.html" target="_blank">bigWig</a><span id = "text7" class="translatetext"> file </span><strong><em><span id = "text8" class="translatetext">for display purposes only</span></em></strong>
      </paper-tooltip>
    </div>
    <paper-button class="fullWidth vertMargined trackSelection" toggles raised noink active="{{trackSelActive}}" on-tap="trackSelectionHandler"> Data selection </paper-button>
    <paper-button class="colored fullWidth vertMargined" raised id="fileSubmit" disabled$="{{isDisabled}}" on-tap="submitForm">
      <iron-icon class="smallInline" icon="search" alt="search"></iron-icon>
      <span id = "text10" class="translatetext">Search</span>
    </paper-button>
    <!-- end upload new file part --> 
  </template>
  <script>
    Polymer({
		
		is: "search-card-content",
		
		behaviors: [
			GIVeBehaviors.GenemoTabCardContentBehavior
		],
		
		properties: {
			MAX_FILENAME_LEN: {
				type: Number,
				readOnly: true,
				value: 25
			},
			
			sampleFile: {
				type: String,
				value: "http://www.genemo.org/sample/wgEncodeEM001954.txt",
				readOnly: true
			},
			
			sampleRef: {
				type: String,
				value: "mm9",
				readOnly: true
			},
			
			isEncodeOn: {
				type: Boolean,
				value: true
			},
			
			InputUrl: {
				type: String,
				value: "",
				observer: "InputUrlChanged"
			},
			
			currentRef: {
				type: String,
				value: "",
				observer: "currentRefChanged",
			},
			
			DisplayUrl: {
				type: String,
				value: ""
			},
			
			UserEmail: {
				type: String,
				value: ""
			},
			
			trackSelActive: {
				type: Boolean,
				value: false
			},
			
			toggleGroup: {
				type: String,
				value: 'trackSelect'
			},
			
			isDisabled: {
				type: Boolean,
				value: false
			},
			
			disableGroup: {
				type: String,
				value: 'query-search'
			},
			
			uploadButtonText: {
				type: String,
				value: ''
			},
			
			species: {
				type: Array,
				value: function() {
					return [];
				}
			}
		},
        
        created: function() {
            this.InputFile = new Blob();
        },
		
        encodeFilter: function(value) {
			return (value.isEncode || !this.isEncodeOn);
        },
        
        checkEncodeSpecies: function (flag) {
			if(typeof(flag) == 'boolean') {
				this.isEncodeOn = flag;
			}
            var spcAvailableCount = 0;
            if(this.species.length > 0) {
                this.updateAllSpcActive();
            }
        },
        
        updateAllSpcActive: function () {
            // numbersOnly means no update of checkboxes to species.isActive
            // otherwise species.isActive will be updated first to reflect choice
            this.species.updateAllSpcActiveNum();
        },
        
		inputFileChangedFunc: function() {
			var shortFileName = this.$.uploadFileInput.files[0].name;
			if(shortFileName == "") {
				this.$.fileSelectButton.classList.remove("noTextTransformButton");
				this.uploadButtonText = "Upload local file";
			} else {
				shortFileName = shortFileName.replace(/^C:\\fakepath\\/, "");
				if(shortFileName.length > this.MAX_FILENAME_LEN) {
					shortFileName = "..." + shortFileName.substring(shortFileName.length - this.MAX_FILENAME_LEN);
				}
				this.$.fileSelectButton.classList.add("noTextTransformButton");
				this.uploadButtonText = shortFileName;
				this.InputUrl = '';
			}
		},
		
		InputUrlChanged: function(newValue, oldValue) {
			if(newValue.length > 0) {
				this.$.fileSelectButton.classList.remove("noTextTransformButton");
				this.uploadButtonText = "Upload local file";
			}
		},
		
		currentRefChanged: function(newValue, oldValue) {
			this.fire("toggle-window", {action: 'hide'});
		},
		
		signalToggle: function(e, detail) {
			if(detail.group == this.toggleGroup) {
				if(detail.flag || (detail.flag == false)) {
					this.trackSelActive = detail.flag;
				} else {
					this.trackSelActive = !this.trackSelActive;
				}
			}
		},
		
		signalDisabled: function(e, detail) {
			if(detail.group == this.disableGroup) {
				if(detail.flag || (detail.flag == false)) {
					this.isDisabled = detail.flag;
				} else {
					this.isDisabled = !this.isDisabled;
				}
			}
		},
                    
		signalEncodeCheck: function(e, detail) {
			this.checkEncodeSpecies(detail.flag);
		},
		
		signalUpdateContent: function(e, detail) {
			this.currentRef = detail.sessionObj.db;
			var inputFileName = detail.sessionObj.originalFile;
			var DisplayFileName = detail.sessionObj.hasDisplay? 
				(detail.sessionObj.urlToShow.substring(detail.sessionObj.urlToShow.lastIndexOf('/') + 1)) : null;
			var collapseObj = { Ref: this.currentRef, Input: inputFileName };
			if(DisplayFileName) {
				collapseObj.display = DisplayFileName;
			}
			this.updateCurrentInfo(collapseObj);
		},
		
		fileSelectionHandler: function() {
			this.$.uploadFileInput.click();
		},
		
		trackSelectionHandler: function() {
			if(genemoIsOn && !this.currentRef) {
				this.fire("alert", {msg: 'Please select a reference genome before selecting data.'});
				this.trackSelActive = false;
			} else {
				this.trackSelActive = !this.trackSelActive;
				this.fire("toggle-window");
			}
		},
                    
		fillSampleHandler: function() {
			this.InputUrl = this.sampleFile;
			this.currentRef = this.sampleRef;
		},
		
		submitForm: function() {
			if(this.$.uploadFileInput.files.length <= 0 && this.InputUrl.length <= 0) {
				this.fire("alert", {msg: 'You need to provide the URL for your input file or select a file to upload!'});
				return false;
			} else if(!this.currentRef) {
				this.fire("alert", {msg: 'You need to select the reference genome for your file!'});
				return false;
			} else if(this.UserEmail.length > 0 && (this.UserEmail.indexOf('@') <= 0 
				|| (this.UserEmail.indexOf('@') >= this.UserEmail.lastIndexOf('.') - 1))) {
					this.fire("alert", {msg: 'Please provide a valid email address!'});
					return false;
			}
			
			this.InputFile = this.$.uploadFileInput.files[0];
			
			var inputFileName = (this.InputUrl.length > 0? (this.InputUrl.substring(this.InputUrl.lastIndexOf('/') + 1))
				: (this.InputFile.name.substring(this.InputFile.name.lastIndexOf('/') + 1)));
			var DisplayFileName = this.DisplayUrl.length > 0? 
				(this.DisplayUrl.substring(this.DisplayUrl.lastIndexOf('/') + 1)) : null;
				
			var collapseObj = { Ref: this.currentRef, Input: inputFileName };
			if(DisplayFileName) {
				collapseObj.display = DisplayFileName;
			}
			this.updateCurrentInfo(collapseObj);
			
			this.fire("submit-form", {card: this});
		},
		
        ready: function() {
            
//			for(var i=0; i<spcArray.length; i++) {
//				this.push('species', spcArray[i]);
//			}
            
			this._setIcon('search');
			this._setIconAlt('search');
			this._setHeaderText('Input file');
			this._setTabText('Search');

			this.species = spcArray;
			
            this.uploadButtonText = "Upload local file";

        }
        
    });
  </script>
</dom-module>
