<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../genemo-styles.html">
<link rel="import" href="../chart-area/tracks-backbone.html">
<link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="chart-card-content-new">
  <template>
    <style include="genemo-shared-styles">
		:host {
			display: block;
			padding: 1em;
		}
		
		chart-area {
			width: 100%;
			margin: 1em 0;
		}
		
		paper-input {
			width: 11em;
			margin: 0 0.5em;
		}
		
		paper-slider {
			width: 20em;
		}
		
		paper-slider[editable]::shadow #sliderContainer {
			margin: 0;
		}
		
		paper-slider[editable]::shadow paper-input-container {
			padding: 2px;
		}
		
		div.smallText {
			font-size: 10px;
			display: block;
		}
		
		.lineContainer {
			display: table;
			border-collapse: separate;
			border-spacing: 1em 0.4em;
		}
		
		.lineContainer > * {
			display: table-cell;
			vertical-align: middle;
		}
		
    </style>
    <!-- TODO: add paper-dropmenu for species -->
    <paper-material z="1" class="lineContainer">
      <paper-input id="mainWindowCoor" label="Upper window coordinates" floatingLabel="true" value="{{mainCoor}}"></paper-input>
      <paper-input id="subWindowCoor" label="Lower window coordinates" floatingLabel="true" value="{{subCoor}}"></paper-input>
      <div>
        <div class="smallText">Threshold (# of reads / 40kb bin)</div>
        <paper-slider value="{{threshold}}" max="10" step="0.01" editable></paper-slider>
      </div>
      <div>
        <paper-button class="colored" raised id="updateChart" on-tap="updateSvg">Update</paper-button>
      </div>
    </paper-material>
  </template>
  <script>
  	ChartCardContent = Polymer({
		is: "chart-card-content-new",
		
		behaviors: [
			Polymer.NeonAnimatableBehavior
		],
		
		properties: {
			spcIndex: {
				type: Number,
				value: 0,
				observer: 'spcChanged',
			},
			mainCoor: {
				type: String,
				value: "chr10:30000000-50000000"
			},
			subCoor: {
				type: String,
				value: "chr10:30000000-50000000"
			},
			threshold: {
				type: Number,
				value: 1.0
			},
			species: {
				type: Object
			},
		},
		
		getCurrentSpecies: function() {
			return this.getSpecies(this.spcIndex);
		},
		
		getSpecies: function(index) {
			return this.spcArray[index];
		},
		
		spcChanged: function() {
			// initialize the tracks of the species
			if(this.spcArray) {
				this.getCurrentSpecies().initTracksFromServer(null, this.changeMainChartSpecies.bind(this));
			}
		},
		
		changeMainChartSpecies: function() {
			var correctedVWindows;
			if(this.mainChart) {
				// species is changed
				correctedVWindows = this.mainChart.changeSpecies(this.getCurrentSpecies());
			} else {
				this.mainChart = new TracksBackbone(this.getCurrentSpecies(), 2, null, this.threshold);
				Polymer.dom(this.root).appendChild(this.mainChart);
				Polymer.dom.flush();
				correctedVWindows = this.mainChart.getViewWindowStrings();
			}
			this.mainCoor = correctedVWindows[0];
			this.subCoor = correctedVWindows[1];
		},
		
		updateSvg: function() {
			if(this.mainChart) {
				var correctedVWindows = this.mainChart.updateAll([this.mainCoor, this.subCoor], this.threshold);
				this.mainCoor = correctedVWindows[0];
				this.subCoor = correctedVWindows[1];
			}
		},
		
		factoryImpl: function(spcArray, index) {
			this.spcArray = spcArray;
			this.spcIndex = index || this.spcIndex;
			this.spcChanged();
		},
		
		attached: function() {
		},
		
	});
  </script>
</dom-module>
