@charset "utf-8";
body,div,pre,form,fieldset,input,textarea,blockquote {
	padding: 0;
	margin: 0;
}
.floatRight {
	right: 10px;
	float: right;
	margin: 5px;
}

.Header2 .floatRight {
	font-weight: 500;
	font-size: 14px;
}

.Header2 a {
	color: inherit;
}

.paper-button-text {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	padding: 0.1em 1em;
	margin: 0 0.25em 0.1em 0.25em;
	border-radius: 3px;
	box-shadow: 0 1px 4px 1px #9E9E9E;
}

.paper-button-text.colored {
	background: #3F51B5;
	color: #FFF;
}

.paper-input-text {
	display: inline-block;
	border-bottom: 1px #3F51B5 solid;
	padding-right: 1em;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #3F51B5;
}

.genemo-card-title {
	display: inline-block;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 700;
	background: #E0E0E0;
	text-transform: capitalize;
	padding: 0.1em 0.25em;
	margin: 0.1em 0.25em;
}

.clearFix:after {
    content: "";
    display: table;
    clear: both;
}

.Header1 {
	font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	background-color: #003366;
	width: auto;
	padding: 0.5em;
	color: #FFFFFF;
	border-left-width: 10px;
	border-left-style: double;
	border-left-color: #FFFFFF;
	position: relative;
	margin: 0.25em 10px 0.5em 5px;
}

.Header1 a {
	color: inherit;
}

.Header1 .floatRight {
	font-weight: 500;
	font-size: 14px;
}

.Title {
	font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 700;
	width: auto;
	padding: 6px;
	color: #003366;
	position: relative;
	clear: both;
	margin-left: 5px;
	margin-right: 10px;
	margin: 1em 0 0.5em 0;
	border-bottom-width: 3px;
	border-bottom-style: double;
	border-bottom-color: #003366;
}

.Header2 {
	font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #003366;
	position: relative;
	left: 0px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #003366;
	padding: 0.5em 0 0 0;
	width: auto;
	margin-left: 25px;
	margin-right: 10px;
}

.normaltext {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-left: 35px;
	margin-right: 15px;
}

.normaltext input[type="button"] {
	padding: 0 5px;
}

.panel {
	font-weight: 700;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

.embededImage {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	float: right;
	position: relative;
	border: 1px solid #333333;
	padding: 5px;
	margin-left: 20px;
	height: auto;
	clear: right;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 10px;
}

.normalnotes {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-top: -10px;
	margin-right: 0px;
	margin-left: 30px;
}
.codes {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background: #bdbdbd;
}

.inlineImage {
	font-size: 12px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	line-height: 17px;
	margin-left: 50px;
	margin-right: 20px;
}
