:host {
	display: block;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2em;
	vertical-align: middle;
}

a:link {
	color: #FF9800;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
a:visited {
	color: #3F51B5;
}

#searchform input.searchFieldBusy {
	background: #FFFFFF url(../../../images/loading1.gif) no-repeat 100% 50%;
}

/************************** Polymer and Material Design components below *********************/

.fullWidth {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.vertMargined {
	margin: 0.2em 0;
}

.vertCenterContainer {
	display: table;
	width: 100%
}

.vertCenterContainer > * > * {
	display: table-cell;
	vertical-align: middle;
	padding: 0.3em 0.4em;
}

.noTextTransformButton {
	text-transform: none;
}

.rightFloat {
	float: right;
}

.clearFloat {
	clear: both;
}

.clearFix:after {
    content: "";
    display: table;
    clear: both;
}

.lineContainer {
	display: table;
	border-collapse: collapse;
	width: 100%;
}

.lineContainer > * {
	display: table-cell;
}

.lineContainer > .right {
	width: 45px;
}

.autoText {
	max-height: 25em;
	min-height: 5em;
	top: 3em;
	min-width: 180px;
}

.rightNoMargin {
	margin: 0 0 0 0.5em;
}

.anno {
	color: #3F51B5;
	margin: 0.3em;
	font-weight: 700;
}

/************************** Polymer and Material Design color below *********************/

paper-button[raised].colored {
	background: #3f51B5;
	color: #FFF;
}

paper-button[disabled] {
	background: #eaeaea;
	color: #a8a8a8;
	cursor: auto;
	pointer-events: none;
}

paper-button[raised][disabled].colored {
	background: #eaeaea;
	color: #a8a8a8;
	cursor: auto;
	pointer-events: none;
}

paper-radio-button[checked]::shadow #offRadio {
	border-color: #3F51B5;
}

paper-radio-button::shadow #onRadio {
	background-color: #3F51B5;
}

paper-checkbox[checked]::shadow #checkbox {
	background-color: #3F51B5;
	border-color: #3F51B5;
}

/************************** Polymer and Material Design size and others below *********************/

core-icon.smallInline {
	width: 1.25em;
	height: 1.25em;
	margin: 0 0.25em 0.1em 0.25em;
}
core-icon.transparent {
	opacity: 0.54;
}
core-icon.transparent:hover {
	opacity: 0.87;
}
core-tooltip::shadow #tooltip {
	max-width: 350px;
	min-width: 250px;
	width: auto;
	margin-top: 1px;
	margin-bottom: 3px;
	white-space: normal;
	line-height: 20px;
}

paper-radio-group > * {
	padding: 1em 0.5em !important;
}

paper-radio-button::shadow #radioLabel {
	margin-left: 0.5em;
}

paper-shadow {
	padding: 0.5em;
}