<!-- Minimal track control "band" component
  This is used to show minimal information of tracks and
  do the very basic control to adjust display settings

  Currently the implementation is extreme simplistic (a paper-checkbox or paper-radio-button)
  TODO: call track-control element from here
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../basic-func/basic-func.html">
<link rel="import" href="../track-object/track-object.html">
<link rel="import" href="../give-styles.html">
<link rel="import" href="../chart-area/give-track-styles.html">
<link href="https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400" rel="stylesheet" type="text/css">
<dom-module id="track-mini-control">
  <template>
    <style include="give-shared-styles">
    :host {
      padding: 0.1em 0;
    }
    </style>
    <template is="dom-if" if="[[singleChoice]]" restamp="true">
      <paper-radio-button id="choiceElem" name="[[track.id]]" checked="{{selected}}">
        [[_getTrackShortLabel(track)]]
      </paper-radio-button>
    </template>
    <template is="dom-if" if="[[!singleChoice]]" restamp="true">
      <paper-checkbox id="choiceElem" name="[[track.id]]" checked="{{selected}}">
        [[_getTrackShortLabel(track)]]
      </paper-checkbox>
    </template>
  </template>
  <script type="text/javascript">
var GIVe = (function (give) {
  'use strict'

  class TrackMiniControl extends Polymer.Element {
    static get is () {
      return 'track-mini-control'
    }

    static get properties () {
      return {
        id: {
          type: String,
          readOnly: true
        },

        track: {
          type: Object
        },

        selected: {
          type: Boolean
        },

        singleChoice: {
          type: Boolean,
          value: false
        }
      }
    }

    _getTrackShortLabel (track) {
      return give.shortenString(track.getSetting('shortLabel'),
        this.constructor.TRACK_LABEL_LIMIT,
        this.constructor.TRACK_LABEL_PREFIX,
        this.constructor.TRACK_LABEL_SUFFIX)
    }

    static get heightProportion () {
      return this.constructor.DEFAULT_HEIGHT_PROPORTION
    }
  }

  TrackMiniControl.TRACK_LABEL_LIMIT = 25
  TrackMiniControl.TRACK_LABEL_PREFIX = 21
  TrackMiniControl.TRACK_LABEL_SUFFIX = 3

  TrackMiniControl.DEFAULT_HEIGHT_PROPORTION = 1.1

  give.TrackMiniControl = TrackMiniControl
  window.customElements.define('track-mini-control', give.TrackMiniControl)

  return give
})(GIVe || {})
  </script>
</dom-module>
