<link rel="import" href="../../bower_components/polymer/polymer.html">
<script type="text/javascript" src="../../../../js/regionlistui.js"></script>
<script>
  	var GIVe = (function(give) {

		give.ChromRegionBehavior = {

			// Orthologous region class and gene class
			properties: {
				name: {
					type: String,
					readOnly: true,
				},

				chr: {
					type: String,
					readOnly: true,
				},

				start: {
					type: Number,
					readOnly: true,
				},

				end: {
					type: Number,
					readOnly: true,
				},

				strand: {
					type: Boolean,
					readOnly: true,
				},
			},

			factoryImpl: function(mainParam, species, additionalParam) {
				// usage: new ChromRegionObject(mainParam, species, additionalParam)
				//		mainParam:
				//			either use a string like 'chr1:12345-56789'
				//			or an object with chr, start, end, and strand or other essential props
				//		species:
				//			used for clipping the region, null if no-clipping needed
				//		additionalParam:
				//			some other parameters that may slip into the object

				try{
					if(typeof mainParam === 'string') {
						this.regionFromString(mainParam);
					} else if(typeof mainParam === 'object') {
						this.regionFromObject(mainParam);
					}
					this.clipRegion(species);
					for(var key in additionalParam) {
						if(!this.hasOwnProperty(key) && additionalParam.hasOwnProperty(key)) {
							this[key] = additionalParam[key];
						}
					}
				} catch(e) {
					console.log(e.message + '\nThrown when creating chromosomal regions with:');
					console.log(mainParam);
					throw(e);
				}
			},

			clipRegion: function(species) {
				if(this.start < give.ChromRegionBehavior.CHROM_BASE) {
					this._setStart(give.ChromRegionBehavior.CHROM_BASE);
				}
				if(species && species.chromInfo) {
					if(species.chromInfo[this.chr] &&
						species.chromInfo[this.chr].chrRegion.end < this.end) {
							this._setEnd(species.chromInfo[this.chr].chrRegion.end);
					} else if(!species.chromInfo[this.chr]) {
						// this is not a valid chromosome
						throw({value: this.chr, message: this.chr + ' is not a valid chromosome for ' + species.db + '!'});
					}
				}
				if(this.start > this.end) {
					throw({value: this.chr + ':' + this.start + '-' + this.end,
						message: 'Coordinates out of bounds: ' + this.chr + ':' + this.start + '-' + this.end + '!'});
				}
				return this;
			},

			getLength: function() {
				return this.end - this.start;
			},

			getStart: function() {
				return {chr: this.chr, coor: this.start};
			},

			getEnd: function() {
				return {chr: this.chr, coor: this.end};
			},

			regionFromString: function(regionString) {
				var cleanedChrString = regionString.replace(/,/g, '')
					.replace(/\(\s*-\s*\)/g, ' NEGSTR').replace(/\(\s*\+\s*\)/g, ' POSSTR');
				var elements = cleanedChrString.split(/[:\s-]+/);
				this._setChr(elements[0]);
				this._setStart(parseInt(elements[1]));
				this._setEnd(parseInt(elements[2]));
				this.setStrand((elements.length < 4)? this.strand: ((elements[3] === 'NEGSTR')? false: true));
			},

			regionFromObject: function(regionObject) {
				this._setChr(regionObject.chr);
				this._setStart(parseInt(regionObject.start));
				this._setEnd(parseInt(regionObject.end));
				this.setStrand(regionObject.strand);
				this.setName(regionObject.regionname || '');
			},

			regionToString: function(includeStrand) {
				// default is including strand
				return this.chr + ':' + this.start + '-' + this.end
					+ ((includeStrand === false || this.strand === null)? '': (' ('
					+ (this.strand? '+': '-') + ')'));
			},

			regionToBED: function(includeStrand) {
				return this.chr + '\t' + this.start + '\t' + this.end + '\t' + (this.name? this.name: '.') +
						(includeStrand !== false? '\t0\t' + (!this.strand? '-': '+'): '');
			},

			toString: function() {
				// default is including strand
				return this.regionToString(true);
			},

			setStrand: function(newStr) {
				switch(typeof(newStr)) {
					case "string":
						this._setStrand(!(newStr.indexOf('-') >= 0 || newStr.indexOf('0') >= 0));
						break;
					case "number":
						this._setStrand(newStr > 0);
						break;
					case "boolean":
						this._setStrand(newStr);
						break;
					case "undefined":
						this._setStrand(null);
						break;
					default:
						this._setStrand(newStr === null? null: (newStr? true: false));
				}
				return this.strand;
			},

			getStrand: function(flankbefore, flankafter) {
				return (typeof(this.strand) === 'boolean')?
					(((typeof(flankbefore) === "string")? flankbefore: '') +
					(this.strand? '+': '-')	+
					((typeof(flankafter) === "string")? flankafter: '')): null;
			},

			getShortName: function() {
				if(this.name && this.name.length > give.ChromRegionBehavior.REGION_SHORTNAME_LIMIT) {
					return this.name.substr(0, give.ChromRegionBehavior.REGION_SHORTNAME_PREFIX_LENGTH)
						+ "..."
						+ this.name.substr(this.name.length - give.ChromRegionBehavior.REGION_SHORTNAME_SUFFIX_LENGTH);
				} else {
					return this.name;
				}
			},

			overlaps: function(region) {
				// this will return the length of overlaps, if not overlapping, return 0
				// if strandSpecific is specified, then overlap will be 0 if both strands exist and do not match
				if(this.chr != region.chr ||
				   (strandSpecific &&
					(this.strand !== null && region.strand !== null) &&
					this.strand !== region.strand)) {
					return 0;
				}
				if(this.start > region.end || this.end < region.start) {
					return 0;
				}
				return Math.min(this.end, region.end) - Math.max(this.start, region.start);
			},

			assimilate: function(region) {
				if(!this.overlaps(region)) {
					return null;
				}
				this._setStart(parseInt(Math.min(this.start, region.start)));
				this._setEnd(parseInt(Math.max(this.end, region.end)));
				return this;
			},

			intersect: function(region) {
				if(!this.overlaps(region)) {
					return null;
				}
				this.start(parseInt(Math.max(this.start, region.start)));
				this.end(parseInt(Math.min(this.end, region.end)));
				return this;
			},

			move: function(distance, isProportion, species) {
				// isProportion means whether move by proportion
				// may clip distance to what we have
				if(isProportion) {
					distance *= this.getLength();
				}
				distance = parseInt(distance + 0.5);
				if(distance + this.start < give.ChromRegionBehavior.CHROM_BASE) {
					distance = give.ChromRegionBehavior.CHROM_BASE - this.start;
				} else if(species && species.chromInfo && species.chromInfo[this.chr] &&
						 species.chromInfo[this.chr].chrRegion.end < this.end + distance) {
							 distance = species.chromInfo[this.chr].chrRegion.end - this.end;
				}
				this._setStart(this.start + distance);
				this._setEnd(this.end + distance);
				return this;
			},

			clone: function() {
				return new this.constructor(null, this.name, this.chr, this.start, this.end, this.strand);
			},

			getShift: function(distance, isProportion, species) {
				return this.clone().move(distance, isProportion, species);
			},

			extend: function(sizediff, center, isProportion, species) {
				// isProportion means whether extend by proportion
				if(!sizediff) {
					return this;
				}
				if(isProportion) {
					sizediff *= this.getLength();
				}
				sizediff = parseInt(sizediff + 0.5);
				var newsize = this.getLength() + sizediff;
				center = center || (this.start + this.end) / 2;
				if(center < this.start) {
					center = this.start;
				} else if(center > this.end) {
					center = this.end;
				}
				if(newsize <= 0) {
					newsize = 1;
				} else if(species && species.chromInfo && species.chromInfo[this.chr] &&
						 species.chromInfo[this.chr].chrRegion.getLength() < newsize) {
							 newsize = species.chromInfo[this.chr].chrRegion.getLength();
				}
				if(center > this.start) {
					// extend left
					this._setStart(this.start - parseInt(sizediff * (center - this.start) / this.getLength() + 0.5));
					if(this.start < give.ChromRegionBehavior.CHROM_BASE) {
						this._setStart(give.ChromRegionBehavior.CHROM_BASE);
					}
					this._setEnd(this.start + newsize);
				} else {
					this._setEnd(this.end + sizediff);
				}
				if(species && species.chromInfo && species.chromInfo[this.chr] &&
					 species.chromInfo[this.chr].chrRegion.end < this.end) {
						 this._setEnd(species.chromInfo[this.chr].chrRegion.end);
						 this._setStart(this.end - newsize);
				}
				return this;

			},

			getExtension: function(sizediff, center, isProportion, species) {
				return this.clone().extend(sizediff, center, isProportion, species);
			},

		};

		give.ChromRegionBehavior.REGION_SHORTNAME_LIMIT = 11;
		give.ChromRegionBehavior.REGION_SHORTNAME_PREFIX_LENGTH = 6;
		give.ChromRegionBehavior.REGION_SHORTNAME_SUFFIX_LENGTH = 4;
		give.ChromRegionBehavior.CHROM_BASE = 1;			// may be 0 for UCSC

		give.ChromRegionBehavior.clipCoordinate: function(coor, species) {
			// this is to clip single coordinate
			if(coor.coor < ChrRegion.CHROM_BASE) {
				coor.coor = ChrRegion.CHROM_BASE;
			} else if(species && species.chromInfo && species.chromInfo[coor.chr] &&
					 species.chromInfo[coor.chr].chrRegion.end < coor.coor) {
						 coor.coor = species.chromInfo[coor.chr].chrRegion.end;
			}
			return coor;
		};

		give.ChromRegionBehavior.compareChrRegion: function(region1, region2) {
			return ((region1.chr === region2.chr)?
						((region1.start === region2.start)?
							((region1.end === region2.end)? 0: ((region1.end > region2.end)? 1: -1)
						): ((region1.start > region2.start)? 1: -1)
					): ((region1.chr > region2.chr)? 1: -1)); // region1.chr !== region2.chr
		};

		return give;

	})(GIVe || {});

</script>
